@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

.input {
  @apply w-full h-12 rounded-lg px-2 bg-slate-800 text-white block border-2;
}

.label {
  @apply mt-4 font-bold;
}

@keyframes pulse {
  50% {
    color: black;
  }
}
.animate-pulse-color-black {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.my-font {
  font-family: "Andika", sans-serif;
}

.font-righteous {
  font-family: "Righteous", cursive;
}
