@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

.input {
  @apply w-full h-12 rounded-lg px-2 bg-slate-800 text-white block border-2;
}

.label {
  @apply mt-4 font-bold;
}

@keyframes pulsera {
  70% {
    color: #f76;
  }
}
.animate-pulse-color-black {
  animation: pulsera 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.my-button {
  @apply p-2 h-12 border-2 rounded-lg flex gap-2 items-center justify-center font-bold hover:scale-105 transition-all;
}

.my-button-red-style {
  @apply text-red-700 bg-slate-100 hover:bg-red-900 hover:text-slate-100;
}

.my-font {
  font-family: "Andika", sans-serif;
}

.font-righteous {
  font-family: "Righteous", cursive;
}
